@font-face {
  font-family: Fipps;
  src: url("http://stephenalanbuckley.com/fonts/Fipps-Regular.otf") format("opentype")
}

.fan_red_banner {
  font-family: Fipps;
  text-align: center;
  font-size: 250%;
  color: #FF0000;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fan_red_text {
 font-family: Fipps;
 font-size: 125%;
 color: #333333;
 margin-top: 20px;
 margin-bottom: 20px;
}

.fan_red_button {
  font-family: Fipps;
  font-size: 150%;
  background-color: #FF0000;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 20px;
}

.secondary_fan_red_button {
  font-family: Fipps;
  color: #0000FF;
  background-color: #333333;
  margin-bottom: 20px;
  margin-top: 20px;
}

.secondary_fan_red_button:hover {
  color: #FFFFFF;
}

.secondary_fan_red_button:active {
  color: #0000FF;
}

.secondary_fan_red_button:visited {
  color: #0000FF;
}

.blue_text {
  color: #0000FF;
}
