.panel {
  display: inline-block;
  width: 10%;
  font-size: 200%;
}

.panel li {
  margin 20px 0px;
}
/* This is for the center picture on the index page
 * The original dimensions (at the moment) are:
 * 84 x 80 
 */
#portrait {
  width: 50%;
}

#right-panel {
  margin-left: 10%;
}

#left-panel {
  margin-right: 10%;
}
