.triarchy {
  font-size: 250%;
  margin-top: 20px;
}

.p_link_description {
  font-size: 20;
}

#work .p_link_description {
  color: black;
}

#play .p_link_description {
  color: orange;
}

#think .p_link_description {
  color: #883300; //Chosen because it's the color on the Stanford Encyclopedia of Philosophy.
  //I'm SO GOOD AT FRONTEND
}

/* This is for the center picture on the index page
 * The original dimensions (at the moment) are:
 * 84 x 80 
 */
#portrait {
  width: 40%;
}

#right-panel {
  margin-left: 10%;
}

#left-panel {
  margin-right: 10%;
}
