#wrap {
  background-image: url('../../images/tuxedo_background.jpg');
}

body {
  background-color: black;
}

header {
  background-color: white;
}

h1, p {
  color: white;
}

#footer p {
  color: black;
}

a {
  color:grey;
}

.nav-pills {
  border: 1px solid;
  border-color: white;
  border-radius: 0px;
}

.work_box {
  border-radius: 0px;
  padding: 0px 0px;
}
