@font-face {
  font-family: ZincBoom;
  src: url("http://stephenalanbuckley.com/fonts/ZincBoom-Regular.ttf");
}

@font-face {
  font-family: AgentRed;
  src: url("http://stephenalanbuckley.com/fonts/AgentRed-Regular.ttf");
}

body h1, a {
  color: #009933;
}

body h2 {
  color: #009933;
}

.play_font {
  font-family: AgentRed;
  font-size: 150%;
}

h1.play_font {
  font-family: ZincBoom;
  font-size: 550%;
}
